* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font: normal 16px sans-serif;
    color: #fff;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    transition: opacity 0.4s linear;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #998675;
    opacity: 1;
    transition: background-color 0.5s linear; 
}

a.btn:hover {
    background-color: #b39c88;
}

.page-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 18vw 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #fff;
    z-index: 1;
    font-size: 18px;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

.page-header__nav {
    width: 65%;
}

.page-header__nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 300;
}

.page-header .logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.page-header .logo-img {
    vertical-align: middle;
    padding-bottom: 10px; 
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 18vw;
}

.page-header .logo-img {
    fill: #fff;
}

.hero {
    height: 100vh;
    min-height: 600px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url(../img/bg.jpg) no-repeat center;
    background-size: cover; 
    position: relative;
    justify-content: center;
    text-align: center;
}



