* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8C8C8C;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18vw;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    transition: opacity 0.4s linear;
}

a:hover {
    opacity: 1;
}

a.btn {
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    text-align: center;
    background-color: #998675;
    opacity: 1;
    transition: background-color 0.5s linear; 
    padding: 10px 20px;
    box-shadow: 0 2px 0 #736357;
}

a.btn:hover {
    background-color: #b39c88;
}

/* PAGE HEADER */

.page-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 18vw 0;
    animation: 1s fadein 0.2s forwards;
    opacity: 0;
    color: #fff;
    z-index: 1;
    font-size: 18px;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

.page-header__nav {
    width: 65%;
}

.page-header__nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 300;
}

.page-header__nav a:hover {
    color: #C7B299;
    transition: color 0.1s linear;
}

.page-header .logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.page-header .logo-img {
    vertical-align: middle;
    padding-bottom: 10px; 
}

.cart {
    margin-left: 40px;
}

.icon-cart {
    width: 20px;
    height: 20px;
}

.icon-cart:hover {
    fill: #C7B299;
    transition: fill 0.1s linear;
}

.icon-search {
    width: 20px;
    height: 20px;
}

.icon-search:hover {
    fill: #C7B299;
    transition: fill 0.1s linear;
}

/* HERO AND SLIDER */

.hero {
    height: 100vh;
    min-height: 600px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url(../img/bg.jpg) no-repeat center;
    background-size: cover; 
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;   
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide:first-child p {
    padding: 0 15vw;
    margin-top: 1rem;
    padding-bottom: 5vh;
}

.slide:first-child .btn {
    padding: 12px 30px;
}

.slide h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0.5rem;
    font-weight: 800;
    font-size: 46px;
}

.slide span {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 500;
}

.bullets {
    position: absolute;
    margin: 0 0;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 90px;
    height: 15px;
}

.bullets li {
    width: 10px;
    height: 10px;
    background: #8F8E91;
    border-radius: 50%;
}

.bullets .active {
    background: transparent;
    box-shadow: 0 0 0 2px #CFBDAA;
}

.bullets li:hover {
    box-shadow: 0 0 0 2px #8F8E91;
}

.arrows .previous {
    position: absolute;
    height: 100vh;
    width: 15vw;
    top: 0;
    left: 0;
}

.arrows .previous::before {
    content: "";
    position: absolute;
    opacity: 0.6;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(-45deg);
}

.arrows .next {
    position: absolute;
    height: 100vh;
    width: 15vw;
    top: 0;
    right: 0;
}

.arrows .next::before {
    content: "";
    position: absolute;
    opacity: 0.6;
    right: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(135deg);
}

.arrows .next:hover:before, .arrows .previous:hover:before {
    transition: border-color 0.2s linear;
    border-color: #C7B299;
}

/* FEATURES */

.features {
    height: 40vh;
    justify-content: center;
}

.features h2 {
    font-size: 0;
}

.features .grid {
    display: flex;
    height: 100%;
}

.features .grid li {
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features .grid li::after {
    content: "";
    display: inline-block;
    width: 55px;
    height: 3px;
    background-color: #F1EEE9;
    margin-top: 20px;
}

.features .grid li:hover::after {
    background-color: #C7B299;
    transition: background-color 0.2s linear;
}

.features .grid li h4 {
    margin: 10px 0;
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.features .grid li:hover h4 {
    color: #C7B299;
    transition: color 0.2s linear;
}

.features .grid li p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.features .icon {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    fill: #555;
}

.features li:hover .icon {
    fill: #C7B299;
    transition: fill 0.2s linear;
}

/* ABOUS US */

.about-us {
    height: 70vh;
    background-color: #FBFAF8;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 7vh; 
}

.about-us h3 {
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

.about-us p {
    width: 40vw;
}

.browser-1 {
    background: url(../img/browser-left.jpg) no-repeat;
    background-size: cover;
    height: 38vh;
    width: 37vw;
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    left: 18vw;
}

.browser-2 {
    background: url(../img/browser-center.jpg) no-repeat;
    background-size: cover;
    height: 47vh;
    width: 41vw;
    z-index: 10;
    position: absolute;
    bottom: 0;
}

.browser-3 {
    background: url(../img/browser-right.jpg) no-repeat;
    background-size: cover;
    height: 38vh;
    width: 37vw;
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    right: 18vw;
}

/* WORDPRESS THEME */

.wordpress-theme {
    background: linear-gradient(90deg,#211B19,#4E3427);
}

.wordpress-theme__wrapper {
    padding: 0 20px;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wordpress-theme__wrapper h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.wordpress-theme__wrapper span {
    color: #C7B299;
}

.wordpress-theme__wrapper p {
    color: #615855;
}

/* PORTFOLIO */

.portfolio__wrapper {
    padding: 7vh 20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    height: 115vh;
}

.portfolio__wrapper h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600px;
    color: #555;
}

.portfolio__wrapper > p {
    width: 65%;
    text-align: center;
}

.portfolio__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    margin: 20px 0;
}

.portfolio__buttons .btn {
    background-color: white;
    color: #8C8C8C;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.portfolio__buttons .active {
    background-color: #998675;
    color: white;
    border-color: #998675;
}

.portfolio__buttons .btn:hover {
    background-color: #998675;
    color: white;
    border-color: #998675;
    transition: background-color 0.2s linear,
                border-color 0.2s linear;
}

.portfolio__projects {
    width: 100%;
    height: 72vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio__projects li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(33.33% - 20px);
    background-color: #FBFAF8;
    position: relative;
    height: calc(72vh / 2 - 10px);
}

.portfolio__projects li:nth-child(3n+2) {
    margin-left: 20px;
    margin-right: 20px;

}

.portfolio__projects li:nth-child(-n+3) {
    margin-bottom: 20px;
}

.portfolio__projects .project-image {
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 100%;
}

.portfolio__projects .project-description {
    height: 100px;
    padding: 20px 25px;
    position: relative;
}

.portfolio__projects .project-description::after {
    content: "";
    width: 20px;
    height: 22px;
    background-color: #FBFAF8;
    position: absolute;
    top: -8px;
    left: 20px;
    transform: rotate(-56deg) skewY(20deg);
}

.portfolio__projects .project-description .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #C7B299;
}

.portfolio__projects .project-description .tags {
    margin-top: 3px;
    font-size: 12px;
}

.portfolio__projects li:nth-child(1) .project-image {
    background-image: url(../img/portfolio-1.jpg);
}

.portfolio__projects li:nth-child(2) .project-image {
    background-image: url(../img/portfolio-2.jpg);
}

.portfolio__projects li:nth-child(3) .project-image {
    background-image: url(../img/portfolio-3.jpg);
}

.portfolio__projects li:nth-child(4) .project-image {
    background-image: url(../img/portfolio-4.jpg);
}

.portfolio__projects li:nth-child(5) .project-image {
    background-image: url(../img/portfolio-5.jpg);
}

.portfolio__projects li:nth-child(6) .project-image {
    background-image: url(../img/portfolio-6.jpg);
}

.portfolio__wrapper .load-btn {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
